{
    "extends": "airbnb-base",
    "parserOptions": {
      "ecmsVersion": 6
    },
    "env": {
      "node": true,
      "es6": true
    },
    "rules": {
      "comma-dangle": ["error", {"function": "never"}],
      "max-len": ["warn", 120]
    }
}
